
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="x-icon" href="./images/logo_arrow.png.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Document Title-->
    <title>KeepUp Quote</title>

    <!--Favicons-->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff"> -->

    <!--Stylesheets-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link href="./getquotecss.css/prism.css" rel="stylesheet">
    <link href="./getquotecss.css/theme.min.css" rel="stylesheet" />
    <link href="./getquotecss.css/user.min.css" rel="stylesheet" />
  </head>

  <body>

    <!--Main Content-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 bg-black" data-navbar-on-scroll="data-navbar-on-scroll"> <!-- Added bg-primary class for background color -->
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="./images/logo_white_nb2.png.png" height="50px" alt="">
          </a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse pt-4 pt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto border-bottom border-lg-bottom-0 pt-2 pt-lg-0">
              <li class="nav-item px-2"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
              <li class="nav-item px-2"><a class="nav-link" href="/gallery">Features</a></li>
              <li class="nav-item px-2"><a class="nav-link" href="/learnmore">About Us</a></li>
              <li class="nav-item px-2"><a class="nav-link" href="#">Contact us</a></li>
            </ul>
            <div class="d-flex mt-2 align-items-center mt-lg-0">
              <div class="dropdown"><button class="btn btn-sm d-flex mx-2" id="dropdownMenuButton1" type="submit" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-search text-primary"></i></button>
                <div class="dropdown-menu dropdown-menu-lg-end p-0 rounded" aria-labelledby="dropdownMenuButton1" style="top:55px">
                  <form><input class="form-control form-search-control border-100" type="search" placeholder="Search" aria-label="Search" /></form>
                </div>
              </div><a href="#!"> <i class="fas fa-user text-primary"> </i></a>
            </div>
          </div>
        </div>
      </nav>
        
      <section class="py-0">
        <div class="bg-holder" style="background-image:url(./images/bg.png);background-position:left center;background-size:auto 816px;"></div>
          <div class="container mb-3">
            <div class="row align-items-center min-vh-100">
              <div class="col-md-7 col-xl-7 pt-9 text-md-start text-center">
                <h1 class="display-2 text-light fw-thin">Never fall behind <br class="d-none d-xl-block" />with <strong class="fw-bolder">KeepUp </strong></h1>
                <p class="fs-2 text-400">Take away the frustration and <br class="d-none d-xxl-block" />keep your close-outs simple </p><span class="fas fa-chevron-right fa-xs btn-icon"></span><span class="btn-text">Learn more</span></a>
              </div>
              <div class="col-md-5 col-xl-5 pe-xxl-0">
                <div class="card card-bg shadow hero-header-form">
                  <div class="card-body p-4 p-xl-6">
                    <h2 class="text-100 text-center">Get a Quote</h2>
                    <form class="mb-3">
                      <div class="form-floating mb-3"><input class="form-control input-box form-ensurance-header-control" id="floatingName" type="text" placeholder="name" /><label for="floatingName">Company</label></div>
                        <div class="form-floating mb-3"><input class="form-control input-box form-ensurance-header-control" id="floatingPhone" type="tel" placeholder="name@example.com" /><label for="floatingPhone">Email</label></div>
                          <div class="form-floating mb-3"><input class="form-control input-box form-ensurance-header-control" id="floatingEmail" type="email" placeholder="name@example.com" /><label for="floatingEmail">State</label></div>
                            <div class="form-floating mb-3"><input class="form-control input-box form-ensurance-header-control" id="floatingCatrgory" type="text" placeholder="Insurance Category" /><label for="floatingCatrgory">City</label></div>
                              <div class="form-floating mb-3"><textarea class="form-control input-box form-ensurance-header-control" id="floatingTextarea" placeholder="Leave a comment here"></textarea><label for="floatingTextarea">Comments</label></div>
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Quote</button></div>
                      </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
      </section>

      <section class="py-0 bg-black">
        <div class="container">
          <div class="row justify-content-md-between justify-content-evenly py-4">
            <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
              <p class="fs--1 my-2 fw-light text-200">All rights Reserved &copy; KeepUp, 2024</p>
            </div>      
          </div>
        </div>
      </section>
    
    <!--End Main Content-->
    </main>

    <!--Javascript-->
    <script src="vendors/popper/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/anchorjs/anchor.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="vendors/fontawesome/all.min.js"></script>
    <script src="vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="vendors/prism/prism.js"></script>
    <script src="assets/js/theme.js"></script>

  </body>

</html>